/*
    Created on : 2016.03.05.
    Author     : Horváth Norbert
    Description:
        Chat
*/

@import "_utility.scss";

.status {
	display: inline-block;
	position: relative;
	border-radius: 5px;
	width: 16px;
	height: 16px;
	background-image: url("../images/chat.png");
	background-repeat: no-repeat;

	&.on       { background-position:   0px -21px; }
	&.busy     { background-position: -20px -21px; }
	&.idle     { background-position: -40px -21px; }
	&.off      { background-position: -60px -21px; }
	&.on.run   { background-position:   0px -42px; }
	&.busy.run { background-position: -20px -42px; }
	&.idle.run { background-position: -40px -42px; }
	&.off.run  { background-position: -60px -42px; }
}

aside.online {
	float: left;
	width: 200px;
	background-color: #eeeeee;

	ul {
		list-style-type: none;
		margin: 10px 0;
		padding: 0;

		li {
			padding: 0;

			label {
				display: block;
				padding: 5px 10px;
				width: 100%;
				height: 28px;
				cursor: pointer;

				&:hover {
					background-color: #dddddd;
				}
			}

			.status {
				top: 4px;
				margin: 0 7px 0 0;
			}

			input {
				display: inline-block;
				position: relative;
				top: 2px;
				margin: 0 10px 0 0;
			}
		}
	}

	button.start {
		margin: 10px;
		font-weight: bold;
	}
}

.chatcontainer {
	margin-left: 205px;
	height: 480px;

	.chat {
		float: left;
		margin-left: 10px;
		width: 300px;

		.bar {
			width: 100%;
			height: 30px;
			background-color: #cccccc;

			.user-item:not(.cloneable) {
				display: inline-block;
				padding: 5px;

				.status {
					top: 4px;
				}

				.throw {
					@include cross(13px, 13px, 2px, 6px, 0px, #000000);
					cursor: pointer;

					&:hover::before,
					&:hover::after {
						background-color: #ff0000;
					}

					&.disabled::before,
					&.disabled::after {
						background-color: #aaaaaa;
					}
				}
			}

			.close {
				@include cross(20px, 20px, 4px, 7px, 2px, #f5f5f5);
				margin: 5px;
				float: right;
				cursor: pointer;

				&:hover::before {
					background-color: #ff0000;
				}
				&:hover::after {
					background-color: #ff0000;
				}
			}
		}

		.form {
			position: relative;
			width: 100%;

			textarea {
				display: b;
				border: 1px solid #000000;
				padding: 10px;
				height: 60px;
				width: 100%;
				resize: vertical;
			}

			.indicator {
				margin: 5px 0;
				height: 20px;
				color: #999999;
			}

			.submitmode {
				padding: 15px 0;

				button {
					float: right;
					font-weight: bold;
				}

			}
		}

		.list {
			list-style-type: none;
			margin: 0;
			padding: 0;
			width: 100%;
			height: 300px;
			overflow-y: scroll;

			li {
				padding: 5px 10px;

				&.highlighted {
					color: red;
					font-weight: bold;
				}

				.self {
					color: #ff0000;
				}

				span {
					float: right;
					margin: 0 0 0 20px;
					color: #aaaaaa;
				}
			}
		}
	}
}
