/*
    Created on : 2016.03.04., 21:41:26
    Author     : Herbertusz
*/

* {
	margin: 0;
	padding: 0;
}
body {
	font: 13px Helvetica, Arial;
}
form {
	position: fixed;
	bottom: 0;
	padding: 3px;
	width: 100%;
}
form input {
	margin-right: 10px;
	border: 1px solid #000000;
	padding: 10px;
}
#name {
	width: 10%;
}
#message {
	width: 75%;
}
#online {
	padding: 5px 10px;
	background-color: #dddddd;
}
#list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#list li {
	padding: 5px 10px;
}
.highlighted {
	color: red;
	font-weight: bold;
}
#indicator {
	display: none;
	position: fixed;
	left: 3px;
	bottom: 43px;
	border: 2px solid #cccccc;
	padding: 3px;
	width: 200px;
	height: 18px;
	background-color: #dddddd;
	color: #666666;
}
