<div style="margin: 20px 0;">
	<% if (login){ %>
		<div id="online">Online: <span class="list"></span></div>
		<ul id="list">
			<% messages.forEach(function(message){ %>
				<li>
					<span><%- message.created %></span>
					<strong class="<% if (userId === message.user_id){ %>self<% } %>"><%= message.username %></strong>:
					<%= message.message %>
				</li>
			<% }); %>
		</ul>
		<div id="form">
			<div id="indicator"></div>
			<textarea id="message" placeholder="Üzenet" autocomplete="off"></textarea>
			<div class="submitmode">
				<label><input id="sendswitch" type="checkbox" value="1" checked="checked" /> Küldés enter megnyomására</label>
				<button id="send" class="hidden-weak">Küldés</button>
			</div>
		</div>
	<% }else{ %>
		Jelentkezzé be!
	<% } %>
</div>
