<div style="margin: 20px 0;">
	<% if (login){ %>
		<section class="chat">
			<ul class="list">

			</ul>
			<div class="form">
				<div class="indicator"></div>
				<textarea id="message" placeholder="Üzenet"></textarea>
				<div class="submitmode">
					<label><input id="sendswitch" type="checkbox" value="1" checked="checked" /> Küldés enter megnyomására</label>
					<button id="send" class="hidden-weak">Küldés</button>
				</div>
			</div>
		</section>
		<aside class="online">
			<ul>
				<% users.forEach(function(user){ %>
					<%# <% if (userId !== user.id){ %> %>
						<li data-id="<%- user.id %>">
							<span></span> <%= user.username %>
						</li>
					<%# <% } %> %>
				<% }); %>
			</ul>
		</aside>
	<% }else{ %>
		Jelentkezzé be!
	<% } %>
</div>
